[run]
branch = True
omit =
    tests/*
    setup.py
    conftest.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    except ImportError