# CUDA-enabled build of PyTorch
torch==2.7.0+cu128
torchvision==0.22.0+cu128
tqdm==4.67.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
matplotlib==3.10.3
pillow~=11.0.0
numpy~=2.1.2
tomlkit~=0.13.2
pydantic~=2.11.5
# Extra index URL to find CUDA builds
--extra-index-url https://download.pytorch.org/whl/cu128
